h1{
    font-weight: bold;
    font-size: 32px;
    font-family: georgia;
}
h3{
    font-size: 18px;
    font-family: georgia;
    color:blue;
}
#para1{
    font-size: 16px;
    font-family: georgia;
    text-align: center;

}
#para2{
    color:#FF0000;
    text-align: left
}